# MUST KNOW in Python
1. [The basic operations for lists, dictionaries, and sets](#item_1)
2. [The common string methods](#item_2)
3. [Reading from a file or stdin and printing to stdout](#item_3)
4. [How to write generators and decorators](#item_4)
5. [The collections module (Counter, deque, OrderedDict)](#item_5)
6. [The datetime module (datetime.now, datetime.strptime)](#item_6)
7. [List Comprehension](#item_7)

<a id='item_1'></a>
# 1. Basic operations for lists, dictionaries, and sets

## 0. Mutable Sequence Types and Operations
##### https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types

## 1. Lists
##### https://docs.python.org/3/library/stdtypes.html#lists

## 2. Dictionaries
##### https://docs.python.org/3/library/stdtypes.html#mapping-types-dict
### - A mapping object maps hashable values to arbitrary objects. Mappings are mutable objects. There is currently only one standard mapping type, the dictionary.

In [739]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three':3, 'one':1, 'two':2})

In [740]:
a == b == c == d == e

True

In [741]:
len(a)

3

In [742]:
a['two']

2

### - Implementation of collections.Counter

In [714]:

class Counter(dict):
    def __missing__(self, key):
        return 0
counter = Counter()

In [715]:
counter['red']

0

In [718]:
counter['red'] += 1

In [719]:
counter['red']

2

In [720]:
a['four'] = 4
a

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [676]:
del a['three']
a

{'one': 1, 'two': 2, 'four': 4}

In [677]:
'three' in a

False

In [678]:
'three' not in a

True

In [679]:
# Return an iterator over the keys of the dictionary. 
iter(a) # same as iter(a.keys)

In [680]:
a.clear()
a

{}

In [681]:
a = b.copy()
a

{'one': 1, 'two': 2, 'three': 3}

In [682]:
a.fromkeys(d)

{'two': None, 'one': None, 'three': None}

In [683]:
a.get('one')

1

In [684]:
a.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [685]:
a.keys()

dict_keys(['one', 'two', 'three'])

In [686]:
a.pop('three')
a

{'one': 1, 'two': 2}

In [687]:
a.popitem() #LIFO order

('two', 2)

In [690]:
a = b.copy()
a

{'one': 1, 'two': 2, 'three': 3}

In [691]:
a.setdefault('three')

3

In [696]:
a.update(c)
a

{'one': 1, 'two': 2, 'three': 3}

In [697]:
a.values()

dict_values([1, 2, 3])

### - Dictionaries preserve insertion order.

In [708]:
d = {"one": 1, "two": 2, "three": 3, "four": 4}
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [709]:
list(d)

['one', 'two', 'three', 'four']

In [710]:
list(d.values())

[1, 2, 3, 4]

In [711]:
d["one"] = 42
d

{'one': 42, 'two': 2, 'three': 3, 'four': 4}

In [712]:
del d["two"]
d

{'one': 42, 'three': 3, 'four': 4}

### - Dictionary view objects

In [721]:
dishes = {'eggs': 2, 'sausage': 1, 'bacon': 1, 'spam': 500}

In [722]:
keys = dishes.keys()
values = dishes.values()

In [724]:
# iteration
n = 0
for val in values:
    n += val
print(n)

504

#### - keys and values are iterated over in the same order (insertion order)

In [731]:
list(keys)

['eggs', 'sausage', 'bacon', 'spam']

In [732]:
list(values)

[2, 1, 1, 500]

#### - view objects are dynamic and reflect dict changes

In [734]:
del dishes['eggs']
del dishes['sausage']
list(keys)

['bacon', 'spam']

#### - set operations

In [736]:
keys & {'eggs', 'bacon', 'salad'}

{'bacon'}

In [737]:
keys ^ {'sausage', 'juice'}

{'bacon', 'juice', 'sausage', 'spam'}

## 3. Sets
##### https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset
### - A set object is an unordered collection of distinct hashable objects.

In [587]:
new_set = set({'Tiger', 'Lion'})
len(new_set)

2

In [588]:
'Henry' in new_set

False

In [589]:
new_set.add('Gator')
new_set

{'Gator', 'Lion', 'Tiger'}

In [590]:
new_set.pop()
new_set

{'Lion', 'Tiger'}

In [591]:
new_set.remove('Dragon')

KeyError: 'Dragon'

In [592]:
new_set.discard('Lion')
new_set

{'Tiger'}

In [593]:
new_set.clear()

<a id='item_2'></a>
# 2. String methods
https://docs.python.org/3/library/stdtypes.html#string-methods

In [457]:
sample = 'hello My name is Henry and her name is Jiyon'

In [458]:
sample.capitalize()

'Hello my name is henry and her name is jiyon'

In [459]:
sample.casefold()

'hello my name is henry and her name is jiyon'

In [460]:
sample.center(30)

'hello My name is Henry and her name is Jiyon'

In [461]:
sample.count('he')

2

In [462]:
sample.startswith('hello')

True

In [463]:
sample.endswith('on')

True

In [464]:
'01\t012\t0123\t01234'.expandtabs(4)

'01  012 0123    01234'

In [465]:
sample.find('Henry')

17

In [466]:
'Henry' in sample

True

In [467]:
'Sum of 1 + 2 is {0} and it\'s {1}'.format(1 + 2, 'Nonsense')

"Sum of 1 + 2 is 3 and it's Nonsense"

In [468]:
class Default(dict):
    def __missing__(self, key):
        return key

'{name} was born in {country}'.format_map(Default(name='Henry'))

'Henry was born in country'

In [469]:
sample.index('Henry')
# raise ValueError when the substring is not found

17

In [470]:
#sample.isalnum()
#sample.isalpha()
#sample.isascii()
#sample.isdecimal()
#sample.isdigit()
#sample.isidentifier()
#sample.islower()
#sample.isnumeric()
#sample.isprintable()
#sample.isspace()
#sample.istitle()

In [471]:
sample.upper().isupper()

True

In [472]:
sample.join('i i')

'ihello My name is Henry and her name is Jiyon hello My name is Henry and her name is Jiyoni'

In [473]:
sample.ljust(300)

'hello My name is Henry and her name is Jiyon                                                                                                                                                                                                                                                                '

In [474]:
sample.lower()

'hello my name is henry and her name is jiyon'

In [475]:
'   spacious   '.lstrip()

'spacious   '

In [476]:
' www.cho.example.com'.lstrip(' htpcmowz.')

'example.com'

In [477]:
sample.partition('and')

('hello My name is Henry ', 'and', ' her name is Jiyon')

In [478]:
sample.replace('Jiyon', 'Evelyn')

'hello My name is Henry and her name is Evelyn'

In [479]:
sample.rfind('Henry', 1)

17

In [480]:
sample.rindex('Henry', 30)

ValueError: substring not found

In [481]:
sample.rjust(300)

'                                                                                                                                                                                                                                                                hello My name is Henry and her name is Jiyon'

In [482]:
sample.rpartition(' ')

('hello My name is Henry and her name is', ' ', 'Jiyon')

In [483]:
sample.rsplit('h', 1)

['hello My name is Henry and ', 'er name is Jiyon']

In [484]:
'   spacious   '.rstrip()

'   spacious'

In [485]:
'mississippi'.rstrip('ipz')

'mississ'

In [486]:
sample.split('h')

['', 'ello My name is Henry and ', 'er name is Jiyon']

In [487]:
'1,2,3'.split(',')

['1', '2', '3']

In [488]:
'1,2,3'.split(',', maxsplit=1)

['1', '2,3']

In [489]:
'1,2,,3,'.split(',')

['1', '2', '', '3', '']

In [490]:
'1 2 3'.split()

['1', '2', '3']

In [491]:
'1 2 3'.split(maxsplit=1)

['1', '2 3']

In [492]:
'   1   2   3   '.split()

['1', '2', '3']

In [493]:
'Two lines\n'.split('\n')

['Two lines', '']

In [494]:
'   spacious   '.strip()

'spacious'

In [495]:
"One line\n".splitlines()

['One line']

In [496]:
'ab c\n\nde fg\rkl\r\n'.splitlines(keepends=True)

['ab c\n', '\n', 'de fg\r', 'kl\r\n']

In [497]:
'ab c\n\nde fg\rkl\r\n'.splitlines()

['ab c', '', 'de fg', 'kl']

In [498]:
'www.example.com'.strip('cmowz.')

'example'

In [499]:
comment_string = '#....... Section 3.2.1 Issue #32 .......'
comment_string.strip('.#! ')

'Section 3.2.1 Issue #32'

In [500]:
sample.swapcase()

'HELLO mY NAME IS hENRY AND HER NAME IS jIYON'

In [501]:
sample.title()

'Hello My Name Is Henry And Her Name Is Jiyon'

In [502]:
sample.upper()

'HELLO MY NAME IS HENRY AND HER NAME IS JIYON'

In [503]:
"42".zfill(5)

'00042'

In [504]:
"-42".zfill(5)

'-0042'

In [506]:
sample[::-1]

'noyiJ si eman reh dna yrneH si eman yM olleh'

<a id='item_3'></a>
# 3. Reading from a file or stdin and printing to stdout

https://docs.python.org/3/library/sys.html#sys.stdin

https://docs.python.org/3/library/fileinput.html#module-fileinput

In [748]:
import fileinput
with fileinput.input(files=('./my_dir/test_text.txt')) as f:
    for line in f:
        print(line)

Now led tedious shy lasting females off. Dashwood marianne in of entrance be on wondered possible building. Wondered sociable he carriage in speedily margaret. Up devonshire of he thoroughly insensible alteration. An mr settling occasion insisted distance ladyship so. Not attention say frankness intention out dashwoods now curiosity. Stronger ecstatic as no judgment daughter speedily thoughts. Worse downs nor might she court did nay forth these.

<a id='item_3'></a>
# 4. How to write generators and decorators

<a id='item_5'></a>
# 5. The collections module (Counter, deque, OrderedDict)

<a id='item_6'></a>
# 6. The datetime module (datetime.now, datetime.strptime)

<a id='item_7'></a>
# 7. List Comprehension

### List of squares

In [3]:
squares = []
for x in range(10):
    squares.append(x**2)

In [4]:
sqaures_lc = [x**2 for x in range(10)]

In [5]:
sqaures_lc

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List of numbers divisible by 3

In [6]:
numbers = []
for x in range(100):
    if x % 3 == 0:
        numbers.append(x)

In [44]:
numbers_lc = [x for x in range(100) if x % 3 == 0]

### Finding primes

In [27]:
no_primes = []
for i in range(2, 8):
    for j in range(i*2, 50, i):
        no_primes.append(j)
primes = []
for x in range(2, 50):
    if x not in no_primes:
        primes.append(x)

In [41]:
no_primes_lc = set(j for i in range(2,8) for j in range(i*2, 50, i))

In [42]:
primes = [x for x in range(2, 50) if x not in no_primes_lc]

### Flatten a list of lists

In [87]:
matrix = [[0,1,2,3], [4,5,6,7], [8,9,10,11]]

In [88]:
flattened = []
for row in matrix:
    for i in row:
        flattened.append(i)
flattened

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [89]:
flattened_lc = [i for row in matrix for i in row]
flattened_lc

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### Simulate a series of coin tosses

In [16]:
from random import random

In [28]:
results = []
for x in range(10):
    results.append(int(round(random())))
results

[1, 0, 0, 1, 0, 0, 0, 1, 0, 1]

In [30]:
results_lc = [int(round(random())) for x in range(10)]
results_lc

[1, 1, 1, 0, 0, 0, 1, 1, 0, 1]

### Remove vowels from a sentence

In [34]:
sentence = 'Your dog was a hamster'

In [41]:
vowels = 'aeiou'
non_list = []
for l in sentence:
    if not l in vowels:
        non_list.append(l)
nonvowels = ''.join(non_list)
nonvowels

'Yr dg ws  hmstr'

In [42]:
nonvowels_lc = ''.join([l for l in sentence if not l in vowels])
nonvowels_lc

'Yr dg ws  hmstr'

In [44]:
# Using a generator comprehension (preferred)
nonvowels_gc = ''.join(l for l in sentence if not l in vowels)
nonvowels_gc
"""
Notice the missing square brackets. This is because join 
takes any iterable data to include lists or genetators. 
This syntax without square brackets uses generator 
comprehension. It produces the same result, but rather than
packing all of the items into a list first it yields them 
as we iterate through. This prevents us from having to 
store the entire list into memory, and is more efficient 
for larger data.
"""

'Yr dg ws  hmstr'

### Get a list of txt files in a directory

In [47]:
import os
files = []
for f in os.listdir('./my_dir'):
    if f.endswith('.txt'):
        files.append(f)
files

['too_much.txt', 'test_text.txt']

In [50]:
files_lc = [f for f in os.listdir('./my_dir') if f.endswith('.txt')]
files_lc

['too_much.txt', 'test_text.txt']

In [55]:
# Get a file name with relative path
files_rel_path = [os.path.join('./my_dir', f) for f in os.listdir('./my_dir') if f.endswith('.txt')]
files_rel_path

['./my_dir/too_much.txt', './my_dir/test_text.txt']

### Read a csv into a listed dictionary

In [76]:
import csv
data = []
for x in csv.DictReader(open('file.csv')):
    data.append(x)

In [77]:
data_lc = [x for x in csv.DictReader(open('file.csv'))]