# MUST KNOW in Python
1. [The basic operations for lists, dictionaries, and sets](#item_1)
2. [The common string methods](#item_2)
3. [Reading from a file or stdin and printing to stdout](#item_3)
4. [How to write generators and decorators](#item_4)
5. [The collections module (Counter, deque, OrderedDict)](#item_5)
6. [The datetime module (datetime.now, datetime.strptime)](#item_6)
7. [List Comprehension](#item_7)

<a id='item_1'></a>
# 1. Basic operations for lists, dictionaries, and sets

## 0. Mutable Sequence Types and Operations
##### https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types

## 1. Lists
##### https://docs.python.org/3/library/stdtypes.html#lists

## 2. Dictionaries
https://docs.python.org/3/tutorial/datastructures.html#dictionaries

https://docs.python.org/3/library/stdtypes.html#mapping-types-dict
### - A mapping object maps hashable values to arbitrary objects. Mappings are mutable objects. There is currently only one standard mapping type, the dictionary.

In [739]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three':3, 'one':1, 'two':2})

In [740]:
a == b == c == d == e

True

In [741]:
len(a)

3

In [742]:
a['two']

2

### - Implementation of collections.Counter

In [714]:

class Counter(dict):
    def __missing__(self, key):
        return 0
counter = Counter()

In [715]:
counter['red']

0

In [718]:
counter['red'] += 1

In [719]:
counter['red']

2

In [720]:
a['four'] = 4
a

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [676]:
del a['three']
a

{'one': 1, 'two': 2, 'four': 4}

In [677]:
'three' in a

False

In [678]:
'three' not in a

True

In [679]:
# Return an iterator over the keys of the dictionary. 
iter(a) # same as iter(a.keys)

In [680]:
a.clear()
a

{}

In [681]:
a = b.copy()
a

{'one': 1, 'two': 2, 'three': 3}

In [682]:
a.fromkeys(d)

{'two': None, 'one': None, 'three': None}

In [683]:
a.get('one')

1

In [684]:
a.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [685]:
a.keys()

dict_keys(['one', 'two', 'three'])

In [686]:
a.pop('three')
a

{'one': 1, 'two': 2}

In [687]:
a.popitem() #LIFO order

('two', 2)

In [690]:
a = b.copy()
a

{'one': 1, 'two': 2, 'three': 3}

In [691]:
a.setdefault('three')

3

In [696]:
a.update(c)
a

{'one': 1, 'two': 2, 'three': 3}

In [697]:
a.values()

dict_values([1, 2, 3])

### - Dictionaries preserve insertion order.

In [708]:
d = {"one": 1, "two": 2, "three": 3, "four": 4}
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [709]:
list(d)

['one', 'two', 'three', 'four']

In [710]:
list(d.values())

[1, 2, 3, 4]

In [711]:
d["one"] = 42
d

{'one': 42, 'two': 2, 'three': 3, 'four': 4}

In [712]:
del d["two"]
d

{'one': 42, 'three': 3, 'four': 4}

### - Dictionary view objects

In [721]:
dishes = {'eggs': 2, 'sausage': 1, 'bacon': 1, 'spam': 500}

In [843]:
keys = dishes.keys()
values = dishes.values()

In [724]:
# iteration
n = 0
for val in values:
    n += val
print(n)

504

#### - keys and values are iterated over in the same order (insertion order)

In [731]:
list(keys)

['eggs', 'sausage', 'bacon', 'spam']

In [732]:
list(values)

[2, 1, 1, 500]

#### - view objects are dynamic and reflect dict changes

In [734]:
del dishes['eggs']
del dishes['sausage']
list(keys)

['bacon', 'spam']

#### - set operations

In [736]:
keys & {'eggs', 'bacon', 'salad'}

{'bacon'}

In [737]:
keys ^ {'sausage', 'juice'}

{'bacon', 'juice', 'sausage', 'spam'}

## 3. Sets
##### https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset
### - A set object is an unordered collection of distinct hashable objects.

In [587]:
new_set = set({'Tiger', 'Lion'})
len(new_set)

2

In [588]:
'Henry' in new_set

False

In [589]:
new_set.add('Gator')
new_set

{'Gator', 'Lion', 'Tiger'}

In [590]:
new_set.pop()
new_set

{'Lion', 'Tiger'}

In [591]:
new_set.remove('Dragon')

KeyError: 'Dragon'

In [592]:
new_set.discard('Lion')
new_set

{'Tiger'}

In [593]:
new_set.clear()

<a id='item_2'></a>
# 2. String methods
https://docs.python.org/3/library/stdtypes.html#string-methods

In [457]:
sample = 'hello My name is Henry and her name is Jiyon'

In [458]:
sample.capitalize()

'Hello my name is henry and her name is jiyon'

In [459]:
sample.casefold()

'hello my name is henry and her name is jiyon'

In [460]:
sample.center(30)

'hello My name is Henry and her name is Jiyon'

In [461]:
sample.count('he')

2

In [462]:
sample.startswith('hello')

True

In [463]:
sample.endswith('on')

True

In [464]:
'01\t012\t0123\t01234'.expandtabs(4)

'01  012 0123    01234'

In [465]:
sample.find('Henry')

17

In [466]:
'Henry' in sample

True

In [467]:
'Sum of 1 + 2 is {0} and it\'s {1}'.format(1 + 2, 'Nonsense')

"Sum of 1 + 2 is 3 and it's Nonsense"

In [468]:
class Default(dict):
    def __missing__(self, key):
        return key

'{name} was born in {country}'.format_map(Default(name='Henry'))

'Henry was born in country'

In [469]:
sample.index('Henry')
# raise ValueError when the substring is not found

17

In [470]:
#sample.isalnum()
#sample.isalpha()
#sample.isascii()
#sample.isdecimal()
#sample.isdigit()
#sample.isidentifier()
#sample.islower()
#sample.isnumeric()
#sample.isprintable()
#sample.isspace()
#sample.istitle()

In [471]:
sample.upper().isupper()

True

In [472]:
sample.join('i i')

'ihello My name is Henry and her name is Jiyon hello My name is Henry and her name is Jiyoni'

In [473]:
sample.ljust(300)

'hello My name is Henry and her name is Jiyon                                                                                                                                                                                                                                                                '

In [474]:
sample.lower()

'hello my name is henry and her name is jiyon'

In [475]:
'   spacious   '.lstrip()

'spacious   '

In [476]:
' www.cho.example.com'.lstrip(' htpcmowz.')

'example.com'

In [477]:
sample.partition('and')

('hello My name is Henry ', 'and', ' her name is Jiyon')

In [478]:
sample.replace('Jiyon', 'Evelyn')

'hello My name is Henry and her name is Evelyn'

In [479]:
sample.rfind('Henry', 1)

17

In [480]:
sample.rindex('Henry', 30)

ValueError: substring not found

In [481]:
sample.rjust(300)

'                                                                                                                                                                                                                                                                hello My name is Henry and her name is Jiyon'

In [482]:
sample.rpartition(' ')

('hello My name is Henry and her name is', ' ', 'Jiyon')

In [483]:
sample.rsplit('h', 1)

['hello My name is Henry and ', 'er name is Jiyon']

In [484]:
'   spacious   '.rstrip()

'   spacious'

In [485]:
'mississippi'.rstrip('ipz')

'mississ'

In [486]:
sample.split('h')

['', 'ello My name is Henry and ', 'er name is Jiyon']

In [487]:
'1,2,3'.split(',')

['1', '2', '3']

In [488]:
'1,2,3'.split(',', maxsplit=1)

['1', '2,3']

In [489]:
'1,2,,3,'.split(',')

['1', '2', '', '3', '']

In [490]:
'1 2 3'.split()

['1', '2', '3']

In [491]:
'1 2 3'.split(maxsplit=1)

['1', '2 3']

In [492]:
'   1   2   3   '.split()

['1', '2', '3']

In [493]:
'Two lines\n'.split('\n')

['Two lines', '']

In [494]:
'   spacious   '.strip()

'spacious'

In [495]:
"One line\n".splitlines()

['One line']

In [496]:
'ab c\n\nde fg\rkl\r\n'.splitlines(keepends=True)

['ab c\n', '\n', 'de fg\r', 'kl\r\n']

In [497]:
'ab c\n\nde fg\rkl\r\n'.splitlines()

['ab c', '', 'de fg', 'kl']

In [498]:
'www.example.com'.strip('cmowz.')

'example'

In [499]:
comment_string = '#....... Section 3.2.1 Issue #32 .......'
comment_string.strip('.#! ')

'Section 3.2.1 Issue #32'

In [500]:
sample.swapcase()

'HELLO mY NAME IS hENRY AND HER NAME IS jIYON'

In [501]:
sample.title()

'Hello My Name Is Henry And Her Name Is Jiyon'

In [502]:
sample.upper()

'HELLO MY NAME IS HENRY AND HER NAME IS JIYON'

In [503]:
"42".zfill(5)

'00042'

In [504]:
"-42".zfill(5)

'-0042'

In [506]:
sample[::-1]

'noyiJ si eman reh dna yrneH si eman yM olleh'

<a id='item_3'></a>
# 3. Reading from a file or stdin and printing to stdout

https://docs.python.org/3/library/sys.html#sys.stdin

https://docs.python.org/3/library/fileinput.html#module-fileinput

https://stackoverflow.com/questions/1450393/how-do-you-read-from-stdin

In [748]:
import fileinput
with fileinput.input(files=('./my_dir/test_text.txt')) as f:
    for line in f:
        print(line)

Now led tedious shy lasting females off. Dashwood marianne in of entrance be on wondered possible building. Wondered sociable he carriage in speedily margaret. Up devonshire of he thoroughly insensible alteration. An mr settling occasion insisted distance ladyship so. Not attention say frankness intention out dashwoods now curiosity. Stronger ecstatic as no judgment daughter speedily thoughts. Worse downs nor might she court did nay forth these.

<a id='item_3'></a>
# 4. How to write generators and decorators

# Iterator

In [23]:
# https://docs.python.org/3/howto/functional.html#iterators
L = [1, 2, 3]
it = iter(L)
print(it) # <list_iterator object at 0x0000016A45568278>

print(it.__next__()) # 1, same as next(it)
print(next(it)) # 2
print(next(it)) # 3
print(next(it))
# Traceback (most recent call last):
#   File "iterator.py", line 7, in <module>
#     print(next(it))
# StopIteration

<list_iterator object at 0x7f7990829630>
1
2
3

StopIteration:

Note that you can only go forward in an iterator; there’s no way to get the previous element, reset the iterator, 
or make a copy of it. Iterator objects can optionally provide these additional capabilities, but the iterator protocol only specifies the __next__() method. Functions may therefore consume all of the iterator’s output, and if you need to do something different with the same stream, you’ll have to create a new iterator.

In [5]:
# The two codes below are same:
for i in iter(L):
    print(i)

for i in L:
    print(i)

1
2
3
1
2
3

In [6]:
# Iterators can be materialized as lists or tuples by using 
# the list() or tuple() constructor functions:
L = [1, 2, 3]
iterator = iter(L)
t = tuple(iterator)
print(t) # (1, 2, 3)

L = [1, 2, 3]
iterator = iter(L)
a, b, c = iterator
print(a, b, c) # 1, 2, 3

(1, 2, 3)
1 2 3

In [7]:
m = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,
    'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
for k in m:
    print(k, m[k])

Jan 1
Feb 2
Mar 3
Apr 4
May 5
Jun 6
Jul 7
Aug 8
Sep 9
Oct 10
Nov 11
Dec 12

In [8]:
# The dict() constructor can accept an iterator that returns a finite stream 
# of (key, value) tuples:
L = [('Italy', 'Rome'), ('France', 'Paris'), ('US', 'Washington DC')]
print(dict(iter(L)))

{'Italy': 'Rome', 'France': 'Paris', 'US': 'Washington DC'}

In [21]:
# Files also support iteration by calling the readline() method until there are no more lines in the file. 
# This means you can read each line of a file like this:
file =[] # Mock file system

def readline():
    return

for line in file:
    readline()
    # do somethin for each line
    
# Sets can take their contents from an iterable and let you iterate over the set’s elements:
S = {2, 3, 5, 7, 11, 13}
for i in S:
    print(i)

2
3
5
7
11
13

In [20]:
# Generator expressions and list comprehensions
# https://docs.python.org/3/howto/functional.html#generator-expressions-and-list-comprehensions
line_list = ['  line 1\n', 'line 2  \n']

# Generator expression -- returns iterator
stripped_iter = (line.strip() for line in line_list if line != "")
print(stripped_iter)
print(next(stripped_iter)) # line 1
print(next(stripped_iter)) # line 2

# List comprehension -- returns list
stripped_list = [line.strip() for line in line_list if line != ""]
print(stripped_list)


print([i**2 for i in range(5)])

<generator object <genexpr> at 0x7f79908174c0>
line 1
line 2
['line 1', 'line 2']
[0, 1, 4, 9, 16]

# Generator

https://medium.freecodecamp.org/how-and-why-you-should-use-python-generators-f6fb56650888

- Generators allow you to create iterators in a very pythonic manner.
- Iterators allow lazy evaluation, only generating the next element of an iterable object when requested. This is useful for very large data sets.
- Iterators and generators can only be iterated over once.
- Generator Functions are better than Iterators.
- Generator Expressions are better than Iterators (for simple cases only).



### itertools
https://docs.python.org/3/library/itertools.html

https://stackoverflow.com/a/8671323/5922564

https://stackoverflow.com/a/23069625/5922564

https://stackoverflow.com/questions/6313308/get-all-the-diagonals-in-a-matrix-list-of-lists-in-python

In [32]:
def check_prime(number):
    for divisor in range(2, int(number ** 0.5) + 1):
        if number % divisor == 0:
            return False
    return True

# Iterator
class Primes:
    def __init__(self, max):
        self.max = max
        self.number = 1
    def __iter__(self):
        return self
    def __next__(self):
        self.number += 1
        if self.number >= self.max:
            raise StopIteration
        elif check_prime(self.number):
            return self.number
        else:
            return self.__next__()

# Generator
# def Primes(max):
#     number = 1
#     while number < max:
#         number += 1
#         if check_prime(number):
#             yield number
# primes = Primes(100)

# PEP 289 - Generator Expressions
primes = (i for i in range(2, 1000) if check_prime(i))

print(primes)
for x in primes:
    print(x)
print(primes)

for x in primes:
    if len(primes) == 0:
        print('Empty')
    print(x)

<generator object <genexpr> at 0x7f2306ade150>
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
<generator object <genexpr> at 0x7f2306ade150>

<a id='item_5'></a>
# 5. The collections module

https://docs.python.org/3/library/collections.html

### OrderedDict

In [22]:
from collections import OrderedDict

roll_no = OrderedDict([
    (11, 'Henry'),
    (9, 'Jason'),
    (17, 'Justin')
])

for key, value in roll_no.items():
    print(key, value)

11 Henry
9 Jason
17 Justin

### Default Dict

#### Can contain duplicate keys

In [23]:

from collections import defaultdict

groups = [
    ('Henry', 90),
    ('Jason', 110),
    ('Justin', 100),
    ('Justin', 105),
    ('Henry', 100)
]

dict_groups = defaultdict(list)

for key, value in groups:
    dict_groups[key].append(value)

print(list(dict_groups.items()))

[('Henry', [90, 100]), ('Jason', [110]), ('Justin', [100, 105])]

### Counter

In [31]:
from collections import Counter

group_list = [
    ('Henry', 90),
    ('Jason', 110),
    ('Justin', 100),
    ('Justin', 105),
    ('Henry', 100)
]

count = Counter(name for name, score in group_list)
print('Counter Example 1')
print(count)

cnt_list = [1,2,3,4,1,2,6,7,3,8,1]
cnt = Counter(cnt_list)

print('Counter Example 2')
print(cnt[3]) #2

# Counter::element()
cnt = Counter({1:3, 2:4})
print('Counter::element():')
print(list(cnt.elements()))

# Counter::most_common()
cnt = Counter(cnt_list)
print('Counter::most_common():')
print(cnt.most_common())

# Counter::subtract()
cnt = Counter({1:3, 2:4})
deduct = {1:1, 2:2}
cnt.subtract(deduct)
print('Counter::subtract():')
print(cnt)

Counter Example 1
Counter({'Henry': 2, 'Justin': 2, 'Jason': 1})
Counter Example 2
2
Counter::element():
[1, 1, 1, 2, 2, 2, 2]
Counter::most_common():
[(1, 3), (2, 2), (3, 2), (4, 1), (6, 1), (7, 1), (8, 1)]
Counter::subtract():
Counter({1: 2, 2: 2})

### Named Tuple

In [28]:
import collections

User = collections.namedtuple('User', 'name age gender')
henry = User(name='Henry', age=31, gender='M')
jason = User(name='Jason', age=30, gender='M')
print(henry)
print('Name of User: {0}'.format(henry.name))
print('Name of User: {0}'.format(jason.name))

User(name='Henry', age=31, gender='M')
Name of User: Henry
Name of User: Jason

### Deque

#### Double-ended queue

https://docs.python.org/3/library/collections.html#collections.deque

https://www.geeksforgeeks.org/deque-in-python/

https://www.geeksforgeeks.org/implement-stack-queue-using-deque/

In [30]:
import collections

lst = collections.deque()
lst.append('B')
lst.append('C')
lst.appendleft('A')
lst.insert(1, 'X')
print(lst)

name = collections.deque('henry')
print('Deque: ', name)
print('Queue length: ', len(name))
print('Left part: ', name[0])
print('Right part: ', name[-1])

name.remove('y')
print('remove(b)', name)

name.extendleft('...')
name.append('-')

print('Deque: ', name)

deque(['A', 'X', 'B', 'C'])
Deque:  deque(['h', 'e', 'n', 'r', 'y'])
Queue length:  5
Left part:  h
Right part:  y
remove(b) deque(['h', 'e', 'n', 'r'])
Deque:  deque(['.', '.', '.', 'h', 'e', 'n', 'r', '-'])

<a id='item_6'></a>
# 6. The datetime module (datetime.now, datetime.strptime)

https://docs.python.org/3.7/library/datetime.html#module-datetime

In [749]:
import datetime

In [750]:
datetime.MINYEAR

1

In [751]:
datetime.MAXYEAR

9999

In [760]:
datetime.date(2022, 1, 11)

datetime.date(2022, 1, 11)

In [762]:
datetime.time(1, 10)

datetime.time(1, 10)

In [765]:
datetime.datetime(2022, 1, 11)

datetime.datetime(2022, 1, 11, 0, 0)

In [768]:
datetime.tzinfo()

In [772]:
#datetime.timezone()

### timedelta Objects
https://docs.python.org/3.7/library/datetime.html#timedelta-objects

In [776]:
d = datetime.timedelta(microseconds=-1)
d

datetime.timedelta(-1, 86399, 999999)

In [777]:
d.min

datetime.timedelta(-999999999)

In [778]:
d.max

datetime.timedelta(999999999, 86399, 999999)

In [779]:
d.resolution

datetime.timedelta(0, 0, 1)

In [786]:
datetime.timedelta(hours=-5)
print(_)

-1 day, 19:00:00

In [787]:
d.total_seconds()

-18000.0

### date Objects
https://docs.python.org/3.7/library/datetime.html#date-objects

In [790]:
date_obj = datetime.date(2019, 6, 22)

In [791]:
date_obj.today()

datetime.date(2019, 2, 24)

### Example of counting days to an event:

In [795]:
import time
from datetime import date

In [796]:
today = date.today()
today

datetime.date(2019, 2, 24)

In [797]:
today == date.fromtimestamp(time.time())

True

In [798]:
my_bday = date(today.year, 8, 7)

In [800]:
if my_bday < today:
    my_bday = my_bday.replace(year=today.year + 1)
my_bday

datetime.date(2019, 8, 7)

In [802]:
time_to_bday = abs(my_bday - today)
time_to_bday.days

164

In [804]:
d = date.fromordinal(730920) # 730920th day after 1. 1. 0001
d

datetime.date(2002, 3, 11)

In [806]:
t = d.timetuple()
for i in t:
    print(i)

2002
3
11
0
0
0
0
70
-1

In [811]:
ic = d.isocalendar()
for i in ic:
    print(i)
# 2002    #ISO year
# 11      #ISO week number
# 1       #ISO day number( 1 = Monday)

2002
11
1

In [812]:
d.isoformat()

'2002-03-11'

In [813]:
d.strftime("%d/%m/%y")

'11/03/02'

In [815]:
d.strftime("%A %d. %B %Y")

'Monday 11. March 2002'

In [817]:
'The {1} is {0:%d}, the {2} is {0:%B}.'.format(d, "day", "month")

'The day is 11, the month is March.'

### time Object
https://docs.python.org/3.7/library/datetime.html#time-objects

In [829]:
from datetime import time
time(hour=12, minute=34, second=56, microsecond=123456).isoformat(timespec='minutes')

'12:34'

In [831]:
dt = time(hour=12, minute=34, second=56, microsecond=0)
dt

datetime.time(12, 34, 56)

In [832]:
dt.isoformat(timespec='microseconds')

'12:34:56.000000'

In [833]:
dt.isoformat(timespec='auto')

'12:34:56'

In [840]:
dt.strftime("%H:%M:%S")

'12:34:56'

### strftime() and strptime() Behavior
https://docs.python.org/3.7/library/datetime.html#strftime-and-strptime-behavior

<a id='item_7'></a>
# 7. List Comprehension

### List of squares

In [3]:
squares = []
for x in range(10):
    squares.append(x**2)

In [4]:
sqaures_lc = [x**2 for x in range(10)]

In [5]:
sqaures_lc

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List of numbers divisible by 3

In [6]:
numbers = []
for x in range(100):
    if x % 3 == 0:
        numbers.append(x)

In [44]:
numbers_lc = [x for x in range(100) if x % 3 == 0]

### Finding primes

In [27]:
no_primes = []
for i in range(2, 8):
    for j in range(i*2, 50, i):
        no_primes.append(j)
primes = []
for x in range(2, 50):
    if x not in no_primes:
        primes.append(x)

In [41]:
no_primes_lc = set(j for i in range(2,8) for j in range(i*2, 50, i))

In [42]:
primes = [x for x in range(2, 50) if x not in no_primes_lc]

### Flatten a list of lists

In [87]:
matrix = [[0,1,2,3], [4,5,6,7], [8,9,10,11]]

In [88]:
flattened = []
for row in matrix:
    for i in row:
        flattened.append(i)
flattened

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [89]:
flattened_lc = [i for row in matrix for i in row]
flattened_lc

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### Simulate a series of coin tosses

In [16]:
from random import random

In [28]:
results = []
for x in range(10):
    results.append(int(round(random())))
results

[1, 0, 0, 1, 0, 0, 0, 1, 0, 1]

In [30]:
results_lc = [int(round(random())) for x in range(10)]
results_lc

[1, 1, 1, 0, 0, 0, 1, 1, 0, 1]

### Remove vowels from a sentence

In [34]:
sentence = 'Your dog was a hamster'

In [41]:
vowels = 'aeiou'
non_list = []
for l in sentence:
    if not l in vowels:
        non_list.append(l)
nonvowels = ''.join(non_list)
nonvowels

'Yr dg ws  hmstr'

In [42]:
nonvowels_lc = ''.join([l for l in sentence if not l in vowels])
nonvowels_lc

'Yr dg ws  hmstr'

In [44]:
# Using a generator comprehension (preferred)
nonvowels_gc = ''.join(l for l in sentence if not l in vowels)
nonvowels_gc
"""
Notice the missing square brackets. This is because join 
takes any iterable data to include lists or genetators. 
This syntax without square brackets uses generator 
comprehension. It produces the same result, but rather than
packing all of the items into a list first it yields them 
as we iterate through. This prevents us from having to 
store the entire list into memory, and is more efficient 
for larger data.
"""

'Yr dg ws  hmstr'

### Get a list of txt files in a directory

In [47]:
import os
files = []
for f in os.listdir('./my_dir'):
    if f.endswith('.txt'):
        files.append(f)
files

['too_much.txt', 'test_text.txt']

In [50]:
files_lc = [f for f in os.listdir('./my_dir') if f.endswith('.txt')]
files_lc

['too_much.txt', 'test_text.txt']

In [55]:
# Get a file name with relative path
files_rel_path = [os.path.join('./my_dir', f) for f in os.listdir('./my_dir') if f.endswith('.txt')]
files_rel_path

['./my_dir/too_much.txt', './my_dir/test_text.txt']

### Read a csv into a listed dictionary

In [76]:
import csv
data = []
for x in csv.DictReader(open('file.csv')):
    data.append(x)

In [77]:
data_lc = [x for x in csv.DictReader(open('file.csv'))]

### List Comprehension Techniques

In [5]:
# Example 1
squares = [x**2 for x in range(10)]
print(squares)
# equivalent to:
# squares = list(map(lambda x:x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# Example 2
print([(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y])
# equivalent to:
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))
# note how the order of the for and if statements is the same in both these snippets.

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [7]:
vec = [-4, -2, 0, 2, 4]
print([x*2 for x in vec])
print([x for x in vec if x >= 0])
print([abs(x) for x in vec])

[-8, -4, 0, 4, 8]
[0, 2, 4]
[4, 2, 0, 2, 4]

In [8]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
print([e.strip() for e in freshfruit])

['banana', 'loganberry', 'passion fruit']

In [9]:
# create a list of 2-tuples like (number, square)
# the tuple must be parenthesized, otherwise an error is raised
print([(x, x**2, -x) for x in range(6)])
#print([x, x**2 for x in range(6)]) # error

[(0, 0, 0), (1, 1, -1), (2, 4, -2), (3, 9, -3), (4, 16, -4), (5, 25, -5)]

In [10]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
print([num for elem in vec for num in elem])

# equivalent to
#for elem in vec:
#     for num in elem:
#         print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# complex expressions and nested functions:
from math import pi
print([str(round(pi, i)) for i in range(1, 6)])

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [15]:
"""
Nested list comprehension
https://docs.python.org/3/tutorial/datastructures.html#nested-list-comprehensions
"""
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
# transpose rows and columns:
print([[row[i] for row in matrix] for i in range(4)])

# equivalent to:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
print(transposed)

# equivalent to:
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [16]:
"""
zip() function

Unpacking Argument Lists
https://docs.python.org/3/tutorial/controlflow.html#unpacking-argument-lists
"""
print(list(zip(*matrix)))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]